<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>О нас</h2>
			<p>
				Важная часть террасы, балкона или беседки -- это ограждения.<br />
				Они являются важным архитектурным элементом, украшающим ваше жилище и обеспечивают безопасность.<br />
				Наши  изделия выполнены из ценных пород древесины и художественных панно из металла с высоким качеством покрытия.<br />
				Изделия имеют светодиодную подсветку, позволяющую освещать террасы и балконы в темное время суток и создающую дополнительный декоративный эффект.
			</p>


			<p>
				По желанию клиента возможно инкрустация несущих столбов полудрагоценными камнями и мореным дубом.<br />
				(Возраст дуба более 2000 лет подтверждается документально)
			</p>


			<p>
				В нашем каталоге вы можете выбрать варианты художественных панно.<br />
				Наши художники могут учесть индивидуальные пожелания и создать панно по вашему эскизу.
			</p>

		</p>
	</div>
</div>
		</section>
