<!-- Products Section -->
<section id="produkter2" class="content-section text-center">
  <div class="products-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Ворота</h2>

        <div class="row">
          <div class="col-md-4">
            <a href="img/vorota/1.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/vorota/s/1.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/vorota/2.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/vorota/s/2.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/vorota/3.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/vorota/s/3.jpg">
            </a>
          </div>
        </div>

        <div class="row">
          <p>
            Помимо художественных ограждений, мы также изготавливаем металлические ворота с возможностью художественного оформления.<br />
            Ворота с декоративными металлическими панно подчеркнут индивидуальность владельца.<br />

            Художественные панно выполняются нашими профессиональными художниками.<br />
            Для заказа художественного панно вы можете использовать наши рисунки либо предоставить свои собственные.<br />
            Любые пожелания и заявки будут реализованы в рамках наших технологических возможностей.<br />
            Максимальный срок изготовления панно – от 4 до 5 недель в зависимости от сложности заказа.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
