<!-- Products Section -->
<section id="produkter" class="content-section text-center">
  <div class="products-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Террасные и балконные ограждения</h2>

        <div class="row">
          <div class="col-md-4">
            <a href="img/oak/1.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/oak/s/1.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/oak/2.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/oak/s/2.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/oak/5.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/oak/s/5.jpg">
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a href="img/oak/3.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/oak/s/3.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/oak/4.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/oak/s/4.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/oak/6.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/oak/s/6.jpg">
            </a>
          </div>
        </div>



        <div class="row">
          <div class="col-md-4">
            <a href="img/rekkverk/1.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/rekkverk/s/1.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/rekkverk/2.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/rekkverk/s/2.jpg">
            </a>
          </div>

          <div class="col-md-4">
            <a href="img/rekkverk/3.jpg" class="thumbnail" data-toggle="lightbox">
              <img src="img/rekkverk/s/3.jpg">
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a href="img/r/r1.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r1.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/r/r2.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r2.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/r/r3.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r3.png">
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a href="img/r/r4.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r4.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/r/r5.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r5.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/r/r6.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r6.png">
            </a>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <a href="img/r/r7.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r7.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/r/r8.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r8.png">
            </a>
          </div>
          <div class="col-md-4">
            <a href="img/r/r10.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r10.png">
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <a href="img/r/r9.png" class="thumbnail" data-toggle="lightbox">
              <img src="img/r/s/r9.png">
            </a>
          </div>
        </div>

        <p>
          <strong>Размеры изделий:</strong><br />
          Высота – 1,05 м<br />
          Длина – 1,35 м (одна секция )
        </p>

        <p>
          <strong>Монтаж</strong><br />
          Наша продукция поставляется с инструкцией, с помощью которой вы без специальной подготовки сможете самостоятельно смонтировать ограждение.<br /><br />

          Изделия поставлются секциями.<br />
          В секцию входит 2 несущих столба, декоративное панно в деревянной раме и оголовок.<br /><br />

          Опорные столбы уверенно стоят на широком металлическом основании, что упрощает монтаж изделия.<br />

          Фурнитура для монтажа входит в комплект поставки.<br /><br />
          Срок изготовления заказа 4-5 недель в зависимости от сложности и объема.
        </p>


      </div>
    </div>
  </div>
</section>
